.nav a {
    color: #5a5a5a;
    font-size: 12px;
    font-weight: bold;
    padding: 14px 10px;
}

.nav li {
    display: inline;
}

.jumbotron {
    background-image: url('../images/Kyoto.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container {
    position: relative;
    top: 100px;
}

.jumbotron h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    font-family: 'shift';
    san-serif;
}

.jumbotron p {
    color: white;
    font-size: 20px;
}
